*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.pptx !text !filter !merge !diff
*.docx !text !filter !merge !diff
*.pdf !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
